name: departuredelay_stack

networks:
  departuredelay_net:

volumes:
  departuredelay_mysql_data:

services:
  spark-master:
    image: apache/spark:3.5.1-scala2.12-java17-python3-ubuntu
    pull_policy: always
    container_name: departuredelay_spark_master
    hostname: spark-master
    command: ["/bin/bash","-lc","/opt/spark/sbin/start-master.sh && tail -f /dev/null"]
    environment:
      - SPARK_NO_DAEMONIZE=true
    ports:
      - "7077:7077"
      - "8080:8080"
      - "4040:4040"
    volumes:
      - ./data:/opt/data
      - ./qa:/opt/data/qa
      - ./jars:/opt/extra-jars   # host jars -> container
    restart: unless-stopped
    networks: [departuredelay_net]

  spark-worker-1:
    image: apache/spark:3.5.1-scala2.12-java17-python3-ubuntu
    pull_policy: always
    container_name: departuredelay_spark_worker_1
    depends_on: [spark-master]
    command: ["/bin/bash","-lc","/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null"]
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_WEBUI_PORT=8081
    ports:
      - "8081:8081"
    volumes:
      - ./data:/opt/data
    restart: unless-stopped
    networks: [departuredelay_net]

  mysql:
    image: mysql:8.0
    pull_policy: always
    container_name: departuredelay_mysql
    environment:
      - MYSQL_ROOT_PASSWORD=Root!234
      - MYSQL_DATABASE=flightdb
    ports:
      - "3307:3306"
    volumes:
      - ./docker/mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - departuredelay_mysql_data:/var/lib/mysql
    restart: unless-stopped
    networks: [departuredelay_net]